<h2>Add deals</h2>

<form action="/screens/addshops" method="post">



    <div class="add">
        <label for="addDeal">Shop</label>

        <select name="shop" class="add deal" id="">
            <option value="">Select shop</option>
            {{#each result}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="add">
        <label for="addDeal">Deal</label>
        <input class="add deal" type="text" name="deal" id="deal">
    </div>

    <div class="add">
        <label for="addDeal">Qty</label>
        <input class="add deal" type="text" name="qty" id="deal">
    </div>

    <div class="add">
        <label for="addDeal">Price</label>
        <input class="add deal" type="text" name="price" id="deal">
    </div>

    <div class="addbtn">
        <input class="add deal" type="submit">
    </div>

</form>