<h2>Add shop</h2>

<form action="/screens/addshops" method="post">

	<div class="add">
		<label for="shop_name">Shop</label>
		<input class="add deal" type="text" name="shop_name" id="">
	</div>

	<div class="add">
		<input class="add deal" type="submit">
	</div>

</form>