<h2>Shop list</h2>

<table>
    <tr>
        <th>Shops</th>
    </tr>

    {{#each avo}}
    <tr>
        <td>{{name}}</td>
    </tr>

    {{/each}}
</table><br>

<div>
	<a href="/screens/viewdeals">View deals</a>
</div><br>

<div>
	<a href="/screens/addshops">Add shop</a>
</div>