<h2>View deals</h2>

<table>
    <tr>
        <th>Deal</th>
        <th>Qty for price</th>
    </tr>

    {{#each avo_deals}}
    <tr>
        <td>{{shop_name}}</td>
    </tr>

    {{/each}}
</table><br>

