body {
	background-color: #2D3142;
	color: #2D3142;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	background-color: #BFC0C0;
	margin: auto;
	padding: 0.5em;
	width: 90%;
}

.add{
	margin: 0.5em;
}

.deal{
	padding: 0.5em;;
}



table {
	border-collapse: collapse;
}
  
td, th {
border: 1px solid black;
padding: 0.5rem;
text-align: left;
}